{% extends 'acceuil.html.twig' %}

{% block title %}PointSurveillance{% endblock %}

{% block body %}


<div class="col-md-12">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">Ajouter un point de surveillance</h2>
            <!--<span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>-->
        </div>
        <div class="card-body">
            {{ form(form) }}  
        </div>
    </div>
  
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h2 class="m-0 font-weight-bold text-primary">Liste des points de surveillance</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Surveillance</th>
                            <th>Cordonnes</th>
                            <th>Zone</th>
                            <th>Action</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ps in pointsurveillances %}
							<tr>
								<td>{{ps.id}}</td>
								<td>{{ps.code}}</td>
                                <td>{{ps.cordonnes}}</td>
                                <td>{{ps.zone}}</td>
                                <td>
									<a class="btn btn-warning waves-effect waves-light" href="">Edit</a>
								</td>
								<td>
			                  		<a class="btn btn-danger waves-effect waves-light" href="">Supprimer</a>
								</td>
							</tr>
                        {% endfor %}
					</tbody>
                </table>
            </div>
        </div>
    </div>
</div>                               


{% endblock %}
